@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
}

body{
    font-family: Lexend;
    margin: auto;
}


/**Main Container**/
main{
    width: 100%;
    margin: auto;
    text-align: center;
}

main .heading{
    margin: auto;
    text-align: center;
    margin-bottom: 2rem;
}

main p#targetName
{
    margin: auto;
    width: 20%;
    margin-left: 40%;
    position: sticky;
    line-height: 2rem;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: burlywood;
}




/**Moneybox**/
div.moneybox{
    margin: auto;
    height: 5rem;
    width: 95%;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;
    padding: 1%;
    display: flex;
    align-items: center;
}


div.moneybox hr{
    margin-right: 19.6%;
}

div.moneybox hr.last-hr{
    margin-right: 0%;
}

div.moneybox hr.ruller{
    width: 0%;
    transition: 0.3s;
    position: absolute;
    background-color: rgba(7, 156, 206, 0.37);
    border-radius: 3px;
}

div.moneybox span#show-amount{
    position: absolute;
    height: 1rem;
    transition: 0.3s;
    transform: rotateZ(90deg);
    text-align: center;
}
div.moneybox span#show-amount.in-process{
    transform: rotateZ(90deg);
}
div.moneybox span#show-amount.done{
    margin: auto;
    transform: rotateZ(0deg);
}
div.moneybox-item{
    margin-bottom: 3rem;
    transition: 0.4s;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
}


/**Hover**/
div.moneybox-item:hover{
    background-color: lightgray;
    border-radius: 20px;
}
div.moneybox-item:hover a.control-item{
    opacity: 1;
}


/**Control Icons**/
div.moneybox-item div.controls-div{
    width: 20%;
    height: 15%;
}

div.moneybox-item div.controls-div a{
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

div.moneybox-item div.controls-div a img{
    margin: 0.2rem;
    padding: 0.3rem;
    width: 15%;
    height: 15%;
    transition: 0.3s;
    border-radius: 10px;
}
div.moneybox-item div.controls-div a img:hover{
    background-color: white;
}